<ion-header>
  <mat-toolbar color="primary">
    <button (click)="return()" slot = "start" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Datos</span>
    <img src="../../assets/img/OrchestraLogo2.png" class="img" alt="Photo of a Shiba Inu">
    <span class="example-spacer"></span>
  </mat-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-item *ngIf="admin">
    <ion-input [(ngModel)]="search" placeholder = "Búsqueda por email" type="text"></ion-input>
    <ion-icon id = "search-icon" (click) = "DataSearch()" name="search-outline" slot = "end" style="display: 'none';"></ion-icon>
    <ion-icon id="reload-icon" (click) = "getAllData()" name="close-outline" slot = "end" style="display: 'none';"></ion-icon>
  </ion-item> -->
  <!-- <ion-card *ngIf="!data">
    <ion-card-content>
      No se han encontrado resultados
    </ion-card-content>
  </ion-card> -->
  <mat-card color = "accent" *ngFor="let d of dat" class="example-card">
    <mat-card-header>
      
    </mat-card-header>
    <mat-card-content>
      <mat-card-title><img slot = "end" mat-card-avatar src="../../assets/img/avatar.png" alt="Photo of a Shiba Inu"></mat-card-title>
      DNI: {{d.DNI}}<br /> 
      Nombre: {{d.name}}<br />
      Primer Apellido: {{d.firstSurname}}<br /> 
      Segundo Apellido: {{d.secondSurname}}<br /> 
      Teléfono: {{d.phone}}<br /> 
      Email: {{d.userEmail}}<br /> 
    </mat-card-content>
    <mat-card-actions>
      <ion-icon id = "update-icon" (click)="updateData(d.id)" name="create" slot="end" style="zoom:2.0;"></ion-icon>
    </mat-card-actions>
  </mat-card>
  <mat-card color = "accent" *ngFor="let s of sta" class="example-card">
    <mat-card-header>
      
    </mat-card-header>
    <mat-card-content>
      <mat-card-title>Turno de {{s.userEmail}}</mat-card-title>
      Turno: {{s.type}}<br /> 
      Fecha de inicio: {{s.startDate}}<br />
      Fecha de finalización: {{s.endDate}}<br /> 
    </mat-card-content>
  </mat-card>

</ion-content>
<ion-footer *ngIf = "admin" class="ion-no-border" lines = "none" >
  <ion-toolbar class = "footer" lines="none">
    <button *ngIf = "admin" mat-raised-button color = "primary" class = "menu-buttons" (click) = "dataReportViewer()" >Ver informe de datos</button>
  </ion-toolbar>
</ion-footer>
