.example-card{
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}
.addIcon{
    margin-top: 1%;
    margin-bottom: 1%;

}
.footer{
    background-color: #161313;
}
mat-form-field.mat-form-field {
    width: 90%;
    margin-left: 5%;
    color:#ffffff;
}
.img{
    height: 100%;
    margin-left: 28%;
}