.example-card{
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}
.addIcon{
    margin-top: 1%;
    margin-bottom: 1%;

}
.update-icon{
    margin-bottom: 1%;
    margin-left: 1.5%;

}
.delete-icon{
    margin-bottom: 1%;
    margin-left: 1.5%;

}
.footer{
    background-color: #161313;
}
.img{
    height: 100%;
    margin-left: 45%;
}