<ion-header>
  <ion-toolbar>
    <ion-title>Actualizar un turno</ion-title>   
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines = "none">
    <ion-icon (click)="return()" name="arrow-back-outline" slot="start"></ion-icon>
  </ion-item> 
  <form [formGroup]="statusUpdateForm" (ngSubmit)="onFormSubmit()" >
    <ion-item>
      <ion-label position="floating">Tipo</ion-label>
      <ion-input formControlName="type" type="text" ></ion-input>
      <ion-label color="danger" *ngIf="statusUpdateForm.controls.startDate.errors?.minlength && (statusUpdateForm.touched || statusUpdateForm.dirty)">* Mínimo 4 carácteres.</ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Fecha de inicio</ion-label>
      <ion-input formControlName="startDate" type="text" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Fecha de finalización</ion-label>
      <ion-input formControlName="endDate" type="text" ></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button class = "update-form-submit" color = "tertiary" type="submit" shape="round" expand="block">Enviar</ion-button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>
