.form-field{
    display: block;
}
ion-content{
  --ion-background-color:#161313;
}

mat-form-field.mat-form-field {
  width: 90%;
  margin-left: 5%;
  color:#ffffff;
}

.mat-raised-button, .mat-stroked-button, .mat-flat-button {
  margin-left: 62.5%;
}
.img{
  height: 100%;
  margin-left: 45%;
}