 .container{
     margin-top: 5%;
 }
.ok-menu{
    margin-left: 115px;
}
img{
max-height: 100%;
}
.menu-buttons{
    font-size: larger; 
    height: 10%;
    width: 80%;
    margin-left: 10%;
   
    margin-top: 10%;
    align-self: center;
}

.menu-buttons2{
    font-size: larger; 
    height: 20%;
    width: 80%;
    margin-left: 10%;
    
    margin-top: 5%;
    align-self: center;
}
.menu-buttons3{
    font-size: larger; 
    height: 20%;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    align-self: center;
}
.menu-buttons4{
    font-size: larger; 
    height: 10%;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    align-self: center;
}

// .container{
//     align-items: center;
//     align-self: center;
//   }
// @media (min-width: 1300px) {
//     .menu-buttons {
//       margin-left: 170px;  
//       height: 250px;
//       width: 650px;
//       margin-top: 325px;
//     //   margin-bottom: 375px;
//     } 
//     .menu-buttons2 {
//         margin-left: 170px;  
//         height: 250px;
//         width: 650px;
//         margin-top: 10px;
//         // margin-bottom: 375px;
//       } 

//   }