<ion-header>
  <mat-toolbar color="primary">
    <img src="../../assets/img/OrchestraLogo.png" alt="Orchestra Logo">
    <span class="example-spacer"></span>
  </mat-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class = "button-container">
    <button  mat-raised-button color = "primary" href = "https://ayudadeproyecto.000webhostapp.com/"  color = "primary" >Ayuda en linea</button>
  </div>
<iframe hidden=true src="http://localhost:8000/api/requests/compilar"></iframe>
  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>
