.form-field{
    display: block;
}
ion-content{
  --ion-background-color:#161313;
}

.container{
  margin-top: 20%;
}

mat-form-field.mat-form-field {
  width: 90%;
  margin-left: 5%;
  color:#ffffff;
}

.container{
  margin-top: 10%;
}

.mat-raised-button, .mat-stroked-button, .mat-flat-button {
  margin-left: 75%;
}
// .label{
//     color:var(--accent-lighter-color);
//     border-color: #ffffff;
// }   


.form-container{
    width: 400 px; 
    margin: 0 px auto; 
    margin-top: 200 px
}

.img{
    height: 100%;
    margin-left: 23%;
}
