<ion-header>
  <mat-toolbar color="primary">
    <button (click)="return()" slot = "start" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Actualizar solicitud</span>
    <img src="../../assets/img/OrchestraLogo2.png" class="img" alt="Photo of a Shiba Inu">
    <span class="example-spacer"></span>
  </mat-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <form [formGroup]="requestUpdateForm" (submit)="submit()">
      <mat-form-field appearance="outline">
        <mat-label>Tipo</mat-label>
        <mat-select formControlName = "type" type = "text">
          <mat-option value="Teletrabajo">Teletrabajo</mat-option>
          <mat-option value="Presencial">Presencial</mat-option>
          <mat-option value="Baja por enfermedad">Baja por enfermedad</mat-option>
          <mat-option value="Baja por vacaciones">Baja por vacaciones</mat-option>
          <mat-option value="Otro">Otro</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label class = "label" >Motivo</mat-label>
        <input type = "search" matInput formControlName="reason">
        <mat-error *ngIf="requestUpdateForm.controls.reason.touched && requestUpdateForm.controls.reason.invalid">
          <span *ngIf="requestUpdateForm.controls.reason.errors.required">This field is mandatory.</span>
          <span *ngIf="requestUpdateForm.controls.reason.errors.minlength">Mínimo 4 carácteres.</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label class = "label" >Fecha de inicio</mat-label>
        <input type = "text" matInput formControlName="startDate" required>
        <mat-error *ngIf="requestUpdateForm.controls.startDate.touched && requestUpdateForm.controls.startDate.invalid">
          <span *ngIf="requestUpdateForm.controls.startDate.errors.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label class = "label" >Fecha de finalización</mat-label>
        <input type = "text" matInput formControlName="endDate" required>
        <mat-error *ngIf="requestUpdateForm.controls.endDate.touched && requestUpdateForm.controls.endDate.invalid">
          <span *ngIf="requestUpdateForm.controls.endDate.errors.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Enviar</button>
    </form>
  </div>
</ion-content>
