.form-field{
    display: block;
}

.container{
    margin-top: 10%;
}

mat-form-field.mat-form-field {
    width: 90%;
    margin-left: 5%;
    color:#ffffff;
  }
  
.mat-raised-button, .mat-stroked-button, .mat-flat-button {
    margin-left: 70%;
}
.img{
  height: 100%;
  margin-left: 50%;
}
.example-margin{
  margin-left: 5%;
}