<ion-header>
  <mat-toolbar color="primary">
    <button (click)="return()" slot = "start" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Registrar</span>
    <img src="../../assets/img/OrchestraLogo2.png" class="img" alt="Photo of a Shiba Inu">
    <span class="example-spacer"></span>
  </mat-toolbar>
</ion-header>

<ion-content>
  <div class = "container">
  <form [formGroup]="registForm" (submit)="onFormSubmit()">
    <mat-form-field class="form-field" appearance="outline">
      <mat-label class = "label" >Email</mat-label>
      <input matInput type="email" formControlName="email">
      <mat-error *ngIf="registForm.controls.email.touched && registForm.controls.email.invalid">
        <span *ngIf="registForm.controls.email.errors.required">This field is mandatory.</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label class = "label" >Contraseña</mat-label>
      <input matInput type = "password" formControlName="password">
      <mat-error *ngIf="registForm.controls.password.touched && registForm.controls.password.invalid">
        <span *ngIf="registForm.controls.password.errors.required">This field is mandatory.</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label class = "label" >Confirmar contraseña</mat-label>
      <input matInput type = "password" formControlName="cpassword">
      <mat-error *ngIf="registForm.controls.cpassword.touched && registForm.controls.cpassword.invalid">
        <span *ngIf="registForm.controls.cpassword.errors.required">This field is mandatory.</span>
      </mat-error>
    </mat-form-field>
    <section class="example-section">
      <mat-checkbox class="example-margin">Admin</mat-checkbox>
    </section>
    <button mat-raised-button color="primary" type="submit">Registrar</button>
  </form>
</div>
</ion-content>
