.form-field{
    display: block;
}
ion-content{
  --ion-background-color:#161313;
}

mat-form-field.mat-form-field {
  width: 90%;
  margin-left: 5%;
  color:#ffffff;
}

.container{
  margin-top: 20%;
}


.mat-raised-button, .mat-stroked-button, .mat-flat-button {
  margin-left: 75%;
}
// .label{
//     color:var(--accent-lighter-color);
//     border-color: #ffffff;
// }   


.img{
  height: 100%;
  margin-left: 30%;
}



